# Logs
logs
*.log
npm-debug.log*


# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history
.env
.sessions.json
.config.nodes.json
.config.nodes.json.backup
.config.users.json
.flows.json.backup
sds_trace_data.dat
.sessions.json

